<h1> Cat's info!</h1>
<table>
  <tr>
    <td> <%=@cat.name %></td>
  </tr>
  <tr>
    <td> <%=@cat.age %></td>
  </tr>
  <tr>
    <td> <%=@cat.color %></td>
  </tr>
    <td> <%=@cat.sex %></td>
    <td> <%=@cat.description %></td>
  </tr>
</table>
